# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      label: 'Tabletop Simulator',
      submenu: [
        {
          label: 'Get Lua Scripts',
          command:'tabletopsimulator-lua:getObjects'
        }
        {
          label: 'Save And Play',
          command:'tabletopsimulator-lua:saveAndPlay'
        },
        {type: 'separator'},
        {
          'label': 'Go To Function'
          'command': 'tabletopsimulator-lua:gotoFunction'
        },
        {
          'label': 'Select Current Function'
          'command': 'tabletopsimulator-lua:selectFunction'
        },
        {
          'label': 'Block Expand Selection'
          'command': 'tabletopsimulator-lua:expandSelection'
        },
        {
          'label': 'Block Retract Selection'
          'command': 'tabletopsimulator-lua:retractSelection'
        },
      ]
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Tabletop Simulator'
      'submenu': [
        {
          'label': 'Get Lua Scripts'
          'command': 'tabletopsimulator-lua:getObjects'
        },
        {
          'label': 'Save And Play'
          'command': 'tabletopsimulator-lua:saveAndPlay'
        },
        {type: 'separator'},
        {
          'label': 'Go To Function'
          'command': 'tabletopsimulator-lua:gotoFunction'
        },
        {
          'label': 'Select Current Function'
          'command': 'tabletopsimulator-lua:selectFunction'
        },
        {
          'label': 'Block Expand Selection'
          'command': 'tabletopsimulator-lua:expandSelection'
        },
        {
          'label': 'Block Retract Selection'
          'command': 'tabletopsimulator-lua:retractSelection'
        },
      ]
    ]
  }
]
