# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
#'atom-workspace':
#  'ctrl-alt-o': 'tabletopsimulator-lua:toggle'

#'atom-text-editor':

'atom-workspace atom-text-editor:not([mini])':
  'ctrl-shift-s':     'tabletopsimulator-lua:saveAndPlay'
  'ctrl-shift-l':     'tabletopsimulator-lua:getObjects'
  'ctrl-g':           'tabletopsimulator-lua:gotoFunction'
  'ctrl-shift-g':     'tabletopsimulator-lua:jumpToFunction'
  'ctrl-e':           'tabletopsimulator-lua:gotoLastError'
  'ctrl-<':           'tabletopsimulator-lua:expandSelection'
  'ctrl->':           'tabletopsimulator-lua:retractSelection'
  'ctrl-alt-<':       'tabletopsimulator-lua:selectFunction'
  'ctrl-alt->':       'tabletopsimulator-lua:retractSelection'
  'ctrl-?':           'tabletopsimulator-lua:toggleSelectionCursor'
  'ctrl-i':           'tabletopsimulator-lua:displayCurrentFunction'
  "ctrl-@":           'tabletopsimulator-lua:executeLuaSelection'

#'atom-workspace':
#  'ctrl-shift-|': 'tabletopsimulator-lua:toggleTTSPanel'
