# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
#'atom-workspace':
#  'ctrl-alt-o': 'tabletopsimulator-lua:toggle'

#'atom-text-editor':

'atom-workspace atom-text-editor:not([mini])':
  'ctrl-g':     'tabletopsimulator-lua:gotoFunction'
  'ctrl-<':     'tabletopsimulator-lua:expandSelection'
  'ctrl->':     'tabletopsimulator-lua:retractSelection'
  'ctrl-alt-<': 'tabletopsimulator-lua:selectFunction'
  'ctrl-alt->': 'tabletopsimulator-lua:retractSelection'
  'ctrl-?':     'tabletopsimulator-lua:toggleSelectionCursor'
